.employee-web {

}

 .form-element{
background-color:white;
width:565px;
height:60px;
}

.title-heading{
font-size:24px;
font-weight:700;

}
.form-element-designation{
background-color:white;
height:60px;
}

.employee-submit-btn{
width:193px;
height:41px;
background-color:#00979E;
font-size:14px;
font-weight:500;

}


.addEmployeeBtn{
width:199px;
height:44px;
color:white;
font-size:14px;
font-weight:500;
background-color:#00979E;
}


.addEmployeeBtnText{
display:flex;
height:21px;
margin-top: 4px;
margin-left: 16px;
width: 177px;
font-size: 16px;
font-weight: 500;
}


/* .table thead {
background-color:#ACACAC;
}

tr>td{
background-color:white;
}

.search-container thead {
	background-color:#ACACAC;
}

.search-container tbody {
	background-color:white;
}

.search-container .table-striped tbody>td {
	background-color:white;
}

.table-first-header thead td {
background-color:#ACACAC;
}

.table{
border-spacing:4px;
}

.table-striped tbody tr:nth-of-type(odd) td{
background-color:white;
}  */






